body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    
    
    
    

/*Isso se chama reset CSS. Ele reseta o padrão de css do browser*/}

button {
    border: none;
    font-family: inherit;
}

input {
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 300px)       
   {
       body {
           width: 100%;
       }
   }



