body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    

/*Isso se chama reset CSS. Ele reseta o padrão de css do browser*/}
header {
    display: flex;
    justify-content: space-between;
    background-color: #648FB7;
    border-bottom: 10px solid black;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;

}
nav {
    text-align: right;
    
}


a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 19px;
    font-family: "fira code", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 8px;
    


    /*A tag "a" tem como padrão o display inline. Isto é, fica tudo na mesma linha.
    Ao botar display-block é possível alterar width e height, respectivamente: largura e altura*/
}



a::before {
    content: " ";
    display: inline-block;
    background-color: #7875D2;
    width: 10px;
    height: 10px;
    margin-right: 10px;

    /*Os dois pontos representa um pseudo elemento*/
}

/* Quando usamos seletores de tag nos limites a atribuir sempre os mesmos valores para determinada tag
   
