.action {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 19px;
    font-family: "fira code", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 8px;
    


    /*A tag "a" tem como padrão o display inline. Isto é, fica tudo na mesma linha.
    Ao botar display-block é possível alterar width e height, respectivamente: largura e altura*/
}



.action::before {
    content: " ";
    display: inline-block;
    background-color: #aaa6fa;
    width: 10px;
    height: 10px;
    margin-right: 10px;

    /*Os dois pontos representa um pseudo elemento*/
}

/* Quando usamos seletores de tag nos limites a atribuir sempre os mesmos valores para determinada tag
   É uma vantagem quando desejamos atribuir o mesmo valor e pra quando queremos resetar o css.
   O seletor de Id eu posso usar em elementos diferentes, mas o Id é único, só posso usar uma vez por página.
   Não pode ser reutilizado. Usasse #
   A class é um seletor que pode-se usar mais de uma vez por página e poder ser reutilizado, usa-se . parece selecionar.
   */
   
   