.banner {
    box-sizing: border-box;
    background-image: linear-gradient(#DAE5F7, #86adec, #82a5dd) ;
    height: 715px;
    background-size: 99%;
    border-bottom: 9px solid black;
    padding-top: 22px;
    padding-left: 27px;


    
}

/* O display flex muda o comportamento dos filhos*/

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 457px;
    margin-top: 72px;
    margin-left: 87px;


}

.banner .box {
    margin-bottom: 29px;
    
}

.banner .navigation {
    display: flex;
    justify-content: space-evenly;
}
