.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #332f2f;
    box-shadow: 10px 10px white;
    width: 180px;
    margin-top: 40px;
    
    
    
}

.logos {
    width: 190px;
    height: 190px;
    
    
}

.card-project.-first:hover {
    transform: scale(1.1);
}

.card-project.-second:hover {
    transform: scale(1.1);
}

.card-project.-third:hover {
    transform: scale(1.1);
}

 .elements {
    display: flex;
    
    
}




 


