.code-section {
    background-image: linear-gradient(#b9cce9, #729ce0, #4984e2);
    padding-bottom: 40px;
    padding-top: 47px;
    border-bottom: 9px solid #3c38bb;
    height: 564px;
}

.code-section .main-title.-second {
    margin-bottom: 60px;
}

.code-section .main-title.-second.-third {
    margin-bottom: 60px;
    color: white;
}

.code-section.-bgblue {
    background-image: linear-gradient(#0a043c, #0a043c,  #191352);
    height: 383px;
}

.code-section.-bdfirst {
    border-color: #3c38bb;
}

.code-section.-bgvariation {
    background-image: linear-gradient(#4984e2, #729ce0, #84a2d8);
}

.code-section.-bdvariation {
    border-color: black;
}

