.code-banner {
    box-sizing: border-box;
    background-image: linear-gradient( #dff0ea, #abc3eb, #82abee) ;
    height: 715px;
    background-size: 99%;
    border-bottom: 9px solid black;
    padding-top: 22px;
    padding-left: 27px;

    
    
    
}

/* O display flex muda o comportamento dos filhos*/

.code-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 457px;
    margin-top: 72px;
    margin-left: 87px;


}

.code-banner .code-box {
    margin-bottom: 29px;
    
}

.code-banner .navigation {
    display: flex;
    justify-content: space-evenly;
}


