.code-box {
    display: inline-block;
    background-color: #0a043c;
    width: 493px;
    height: 83px;
    box-shadow: 10px 10px 0 black;
    text-align: center;
    padding: 42px 42px;
    
    
}

.code-box .main-title  {
    margin-bottom: 17px;
}