.header {
    display: flex;
    justify-content: space-between;
    background-color: #648FB7;
    border-bottom: 10px solid black;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;

}



