.main-title {
    font-family: "Press start 2P", sans-serif;
    font-size: 22px;
    color: rgb(132, 179, 223);
    text-shadow: 3px 3px 0 black;
    
}

.main-title.-second {
    color: black;
    text-align: center;
    font-size: 33px;
    text-shadow: none;
    }



