.main-input {
    box-sizing: border-box;
    font-size: 28px;
    border: 4px solid black;
    height: 48px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.main-input.-textarea {
    height: 321px;
}