.main-form {
    background-image: linear-gradient( #dff0ea, #abc3eb, #82abee) ;
    padding: 35px 35px;
}

.main-form .main-input {
    margin-bottom: 19px;
}

.main-form .main-input.-textarea {
    margin-bottom: 38px;
}