.main-footer {
    display: flex;
    background-color: #0a043c;
    padding-bottom: 31px;
    padding-top: 22px;
    justify-content: center;
    height: 19px;
}



.footer-icon {
    width: 35px;
    height: 33px;
    margin-right: 5px;
    margin-left: 5px;
    
}