.progress-bar {
    box-sizing: border-box;
    background-image: #ffffff;
    border: 5px solid black;
    height: 40px;
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar {
    background-color: rgb(0, 92, 145);
} 
 

 