.section {
    background-image: linear-gradient(#b9cce9, #729ce0, #4984e2);
    /*background-image: linear-gradient(#9590f0, #7ca9f1, #82a5dd);*/
    padding-bottom: 40px;
    padding-top: 47px;
    border-bottom: 9px solid black;
    height: 564px;
}