.skill-tech {
    display: flex;
    font-family: "Press start 2P", sans-serif;
    font-size: 19px;
}

.skill-tech .icon {
    margin-right: 25px;
}

.skill-tech .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-tech .art {
    height: 99px;
    width: 123px;
}

.skill-tech .title {
    margin-bottom: 20px;
}