.skill {
    display: flex;
    font-family: "Press start 2P", sans-serif;
    font-size: 19px;
}

.skill .icon {
    margin-right: 25px;
}

.skill .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill .art {
    height: 99px;
    width: 123px;
}