.title {
    font-family: "Press start 2P", sans-serif;
    font-size: 22px;
    color: rgb(132, 179, 223);
    text-shadow: 3px 3px 0 black;
    
}

.title.-second {
    color: #7875D2;
    text-align: center;


}

